{:source-paths ["src" "test"]

 :dependencies [[org.clojure/core.async "0.4.500"]
                [reagent "0.9.0"]]

 :dev-http     {3449 "resources/public/"}

 :builds       {:app  {:output-dir "resources/public/"
                       :asset-path "."
                       :target     :browser
                       :modules    {:shared
                                    {:entries []}
                                    :main
                                    {:init-fn    conways-game-of-life.core/init!
                                     :depends-on #{:shared}
                                     }
                                    :worker
                                    {:init-fn    conways-game-of-life.worker/init
                                     :depends-on #{:shared}
                                     :web-worker true}}
                       :devtools   {:after-load     conways-game-of-life.core/reload!
                                    :browser-inject :mod    ;; makes the webworker work... :O
                                    }
                       }

                :test {:target    :node-test
                       :output-to "out/node-tests.js"
                       :runner-ns conways-game-of-life.test-all ;; TODO
                       :main      conways-game-of-life.test-all/init
                       }}}